{% extends "base_content.html" %}
{% block title %}View funds | ISA Tracker{% endblock %}
{% block header %}<h1>Funds</h1>{% endblock %}
{% block content %}
{% if funds %}
<table>
    <tr>
        <th>Name</th><th>URL</th><th>Latest Price</th>
    </tr>
    {% for fund in funds %}
        <tr>
            <td>
                <a href="{% url isatracker.funds.views.show fund.id %}" 
                    title="{{ fund.name }}">
                    {{ fund.name }}
                </a>
            </td>
            <td>
                <a href="{{ fund.url }}" title="{{ fund.name }} website">
                    Link
                </a>
            </td>
            <td>
                {{ fund.latest_price }}
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
    <p>No funds found in database.</p>
{% endif %}
<br /><p>
<a href="{% url isatracker.isas.views.index %}" title="ISAs">View ISAs</a>
</p>
{% endblock %}

