<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}ISA Tracker{% endblock %}</title>
        <link rel="stylesheet" href="/site_media/style.css" />
    </head>
    <body>
        <div id="header">
            {% block header %}<h1>ISA Tracker</h1>{% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
